################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AssetManagement/bin/Debug/net10.0
/AssetManagement/obj
/AssetManagement.Tests/bin/Debug/net10.0
/AssetManagement.Tests/obj
/AssetManagement.Tests/bin/Release/net10.0
